{% extends 'base.html' %}
{% block title %}Create New Blog Post{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.profile.isWriter %}
            <h2>Create New Blog Post</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_p}}
                    {{form.media}}
                </table>
                <button>Post</button>
            </form>
        {% endif %}
    {% else %}
        <h1>Sike you thought bitch</h1>
    {% endif %}

<script>
    const author = "{{ user.id }}";
    console.log
    document.getElementById("authorBox").value = author;
</script>
{% endblock %}
