{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}
    <div class="article">
        <div class="post-image-container">
            <h3><a href="{% url 'categories' post.category|slugify %}">{{ post.category|title }}</a></h3>
            {% if post.header_image %}
                <img src="{{ post.header_image.url}}" alt="{{ post.image_alt}}">
            {% endif %}
        </div>
        <div class="post-heading">
            <h1 class="post-title">{{ post.title }}</h1>
            <div>
                {% if post.author.profile.profile_pic %}
                    <img src="{{ post.author.profile.profile_pic.url }}">
                {% endif %}
                <a href="{% url 'profile' post.author.pk %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                <h3>{{ post.post_date }}</h3>
            </div>
            <div class="likes-container">
                <p>{{ total_likes }} Likes</p>
                <form action="{% url 'like_post' post.pk %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if liked %}
                            <button type="submit", name="post_id", method="POST", value="{{ post.id }}" class="like-button" id="liked"><i class="fa-solid fa-thumbs-up"></i><span>Liked</span></button>
                        {% else %}
                            <button type="submit", name="post_id", method="POST", value="{{ post.id }}" class="like-button" id="unliked"><i class="fa-solid fa-thumbs-up"></i> <span>Like</span></button>
                        {% endif %}
                    {% else %}
                        <small><a href="{% url 'login' %}">sign in</a> or <a href="{% url 'register' %}">register</a> to like this post</small>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="post-body">
            <p>{{ post.body | safe }}</p>
        </div>
        <div class="comment-form">
            <h3>Comments</h3>
            <form method="POST" action="{% url 'article' post.pk%}" class="comment-box">
                {% csrf_token %}
                <table>
                    {{ form.as_p}}
                    {{form.media}}
                </table>
                <button>Post Comment</button>
            </form>
        </div>
        <div class="comment-section">
            {% if not post.comments.all %}
                <p>No comments yet, be the first!</p>
            {% else %}
                {% for comment in post.comments.all %}
                <div>
                    <h4>{{ comment.user }} - {{ comment.date_added }}</h4>
                    <p>{{ comment.body }}</p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}