<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jayce Carrillo | Tech Blog | {% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/1d4fe0e1ab.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <nav>
        <div class="top-bar">
            <div class="top-bar-content">
                {% if user.is_authenticated %}
                    <span class="top-bar-text">Hello, {{ user.first_name }}!</span>
                    <span class="top-bar-text"><a href="{% url 'logout' %}">Logout</a></span>
                {% else %}
                    <span class="top-bar-text"><a href="{% url 'register' %}">Create an Account</a></span>
                    <span class="top-bar-text"><a href="{% url 'login' %}">Login</a></span>
                {% endif %}
            </div>
        </div>
        <div class="nav-container">
            <div class="logo">
                <span><a href="{% url 'index' %}">Jayce Carrillo</a></span>
            </div>
            <div class="categories">
                {% if category_menu %}
                        {% for item in category_menu %}
                            <span class="link"><a href="{% url 'categories' item|slugify %}">{{ item|title }}</a></span>
                            {% if not forloop.last %}
                                <span class="link"> | </span>
                            {% endif %}
                        {% endfor %}
                {% endif %}
            </div>
            <div class="profile-container">
                {% if user.is_authenticated %}
                    {% if user.profile.profile_pic %}
                        <img src="{{ user.profile.profile_pic.url }}">
                    {% else %}
                        <img src="{% static 'images/default-profile-pic.jpg' %}" style="width: 25px; border-radius: 60px;">
                    {% endif %}
                        <span style="color: black;">Profile</span>
                    {% else %}
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        {% if user.profile.isWriter == True %}
            <small class="footer-link"><a href="{% url 'add-post' %}" >Create Post</a></small>
            <small class="footer-link"><a href="{% url 'add-category' %}">Create Category</a></small>
        {% endif %}
        <small>Powered by Ayetoo Technologies</small>
    </footer>
</body>
</html>