{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container justify-content-center" >
        {% for post in object_list %}
        <div class="card mb-3" >
            <div class="row g-0">
                {% if post.header_image %}
                    <div class="col-md-4">
                        <a href="{% url 'article' post.pk %}">
                            <img src="{{ post.header_image.url }}" class="img-fluid rounded-start" alt="">
                        </a>
                    </div>
                {% endif %}
                <div class="col-md-8" >
                    <div class="card-body" >
                        <a class="card-link" href="{% url 'categories' post.category|slugify %}"><small >{{ post.category|title }}</small></a>
                        <h3 class="card-title"><a class="card-link" href="{% url 'article' post.pk %}">{{ post.title }}</a></h5>
                        <p class="card-text">{{ post.article_hook }}</p>
                        <p class="card-text">{{ post.author.first_name }} {{ post.author.last_name }}</p>
                        <p class="card-text"><small>Posted: {{ post.post_date }}</small></p>
                        {% if user.is_authenticated and user.id == post.author.id %}
                            <a href="{% url 'update-post' post.pk %}">edit post</a>
                            <a href="{% url 'delete-post' post.pk %}">delete post</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}