@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    background-color: green;
    overflow-x: hidden;
}

nav{
    top: 0;
    width: 100vw;
    background-color: white;
    position: sticky;
    z-index: 3;
}

.top-bar{
    color: white;
    width: 100vw;
    background-color: black;
    display: inline-block;
    height: 30px;
}

.top-bar-content{
    margin: 5px auto;
    float: right;
}

.top-bar-text{
    padding: 0 15px;
}

.top-bar-text a{
    color: white;
    text-decoration: none;
}

.nav-container{
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    list-style: none;
    align-items: baseline;
}

.link > a {
    text-decoration: none;
    color: black;
}

.link {
    font-size: 13pt;
    margin: 0 10px;
    letter-spacing: 1pt;
    color: black;
    
}

.dropdown.active > .link,
.link:hover{
    color: black;
}

.blog-list{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    height: 100vh;
}

.blog-card{
    background-color: green;
    width: 75%;
    margin: 10px auto;
    border-radius: 30px;
}

.card-content{
    padding: 20px;
}

.article{
    background-color: white;
    width: 100vh;
    height: 100px;
    padding: 100px;
    color: black;
}

.body-container{
    color: black;
    background-color: white;
    margin: 0 auto;
    height: 100vh;
    width: 75%;
}

.likes-container{
    display: flex;
}

footer{
    background-color: black;
    justify-content: space-evenly;
}

.footer-link a{
    text-decoration: none;
    color: white;
}

form > p{
    display: flex;
    flex-direction: column;
    width: 25%;
}