@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    background-color: white;
    overflow-x: hidden;
    position: relative;
}

nav{
    top: 0;
    width: 100vw;
    background-color: white;
    position: sticky;
    z-index: 3;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .2);
}

.top-bar{
    color: white;
    width: 100vw;
    background-color: black;
    display: inline-block;
    height: 30px;
}

.top-bar-content{
    margin: 5px auto;
    float: right;
}

.top-bar-text{
    padding: 0 15px;
}

.top-bar-text a{
    color: white;
    text-decoration: none;
}

.nav-container{
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    display: flex;
    list-style: none;
    align-items: baseline;
}

.link > a {
    text-decoration: none;
    color: black;
}

.link {
    font-size: 13pt;
    margin: 0 10px;
    letter-spacing: 1pt;
    color: black;
    
}

.blog-list{
    background-color: white;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card-content{
    color: black;
    padding: 20px;
}

.card-content a{
    color: black;
    text-decoration: none;
}


.article{
    width: 100vh;
    padding: 10px 0;
    color: black;
    margin: 0 auto;
}

.body-container{
    color: black;
    background-color: white;
    margin: 0 auto;
    min-height: 100vh;
    padding: 10px 0;
}

.likes-container{
    display: flex;
}

footer{
    background-color: black;
    bottom: 0%;
    width: 100%;
    height: 150px;
}

.footer-link a{
    text-decoration: none;
    color: white;
}

form > p{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.blog-card{
    width: 500px;
    box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, .2);
    margin: 20px;
    z-index: 2;
    transition: transform .5s;
}

.blog-card:hover{
    transform: scale(1.05);
}

.card-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.card-image img{
    position: absolute;
    width: 510px;
}