@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* navigation */
.top-bar{
    color: white;
    text-align: right;
    padding: 10px;
    justify-content: center;
}

.top-bar-text{
    padding-left: 5px;
}

.navbar{
    background-color: #065C3A;
    color: white;
    padding: 20px 30px;
}

.top-bar-text > a{

}

.profile-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* index */

.card-link{
    color: black;
    text-decoration: none;
    transition: color .25s ease-in-out;
}

.card-link:hover{
    color: green;
}

